@model BlogBuster.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h2>Profile</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <strong>
                @Html.DisplayNameFor(model => model.Name)
            </strong>
        </dt>

        <dd>    
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <strong>
                @Html.DisplayNameFor(model => model.Email)
            </strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            <strong>
                @Html.DisplayNameFor(model => model.Password)
            </strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        
        <dt>
            <strong>
                @Html.DisplayNameFor(model => model.Gender)
            </strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Update profile", "Edit", new { id = Model.Id }) 
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
